*{
    margin:0px;
    box-sizing:border-box;
    background-color:rgb(228, 215, 215)
    
}
div{
    text-align:center;
    font-size:20px;
    background-color:rgb(208, 163, 167);
    width:600px;
    border-radius:2%;
    margin:50px 0px 0px 490px;
    height:500px;
    padding:20px 10px 10px 20px;
}
#fo{
    background-color:rgb(208, 163, 167);
    margin-top:30px;
    font-weight:bold;

}
#bu{
   
    font-size:18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}